body{ 
    background-color: gold;
}

h1 {
     text-align: center;
}



li{

    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px ;
    background-color: royalblue;
}

li:hover {
    background-color: lightblue;
}

a {
    color: whitesmoke;
}